.field-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  + .field-group {
    margin-top: 18px;
  }

  label {
    @extend %label;
    margin-top: 4px;
  }

  input {
    width: 100%;
    padding: 11px 20px;
    text-align: left;
    font: normal normal normal 16px/20px Muli;
    letter-spacing: 0px;
    color: $color_black;
    border: none;
    border-bottom: 1px solid $color_black;

    &::focus {
      outline-width: 0;
    }
  }

  .invalid-feedback {
    width: 100%;
    color: $color_red;
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
}
